{% extends 'quotes/base.html' %}

{% block content %}
{% if url_templates == "tag" %}
<h3>Quotes with tag '{{ tag }}':</h3>
{% endif %}
<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.quote }}</span>
            <div class="author-info">
                <a href="{% url 'quotes:author_info' quote.author.fullname %}">
                    <img class="author-quote-photo" src="{{ quote.author.photo_url }}" alt="{{ quote.author.fullname }}">
                    <span class="author-name">{{ quote.author.fullname }}</span>
                </a>
            </div>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tag_page' tag.name 1 %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        {% include 'quotes/pagin.html' %}
    </div>

   <div class="col-md-4">
    <div class="sidebar">
        <h4>Popular Tags</h4>
        <ul class="popular-tags">
            {% for tag in popular_tags %}
            <li class="tag-item-{{ forloop.counter }}">
                <a class="tag" style="font-size: {{ size }}px " href="{% url 'quotes:tag_page' tag.name 1 %}">{{ tag.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

</div>
{% endblock %}
