{% extends 'quotes/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{quote.quote}}</span>
            <span>by <small class="author" itemprop="author">
                <a href="/author/{{quote.author.fullname}}">{{quote.author.fullname}}</a>
            </small>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tag_page' tag.name 1 %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>

        {% endfor %}

        {% include 'quotes/pagin.html' %}

    </div>
</div>


{% endblock %}
